div#subjects li,div#subjects li h2 {
	margin-left:2px;
	margin-right:2px;
	margin-bottom:2px;
}
div#subjects li h2 {
	margin-top:5px;
	padding:2px;
}
div#bookmarks li,div#subjects li h2 {
	background-color:#007C92;
	color:white;
}

div#subjects li.event {
	border:solid 2px #007C92;
	padding:5px;
}

div#subjects li.event .location .icon {
	top:8px;
}

div#subjects li.event .location {
	position:relative;
	top:-5px;
	padding-left:30px;
	text-indent:-30px;
	font-style:italic;
}

div#subjects li.event .description {
	font-size:0.8em;
	text-align:justify;
}

#day .selected {
	background-color:#007C92;
	color:white;
	cursor:default;
}

#selectedsubject {
	display:block;
	clear:both;
	text-align:center;
	margin-left:5px;
	margin-top:5px;
	padding-top:10px;
	padding-bottom:10px;
	vertical-align:bottom;
	height:45px;
	width:290px;
}
#day {
	margin:5px;
	width:290px;
	display:block;
	clear:both;
}
#day a {
	display:block;
	float:left;
	width:50%;
	text-align:center;
	padding-top:5px;
	padding-bottom:5px;
	text-decoration:none;
	color:black;
	cursor:pointer;
}
