RewriteEngine on
RewriteRule ^bus-stop/(.*)\. http://data.southampton.ac.uk/bus-stop/$1.html?view=ajax [P]
RewriteRule ^credits$ credits.php
RewriteRule ^source/?$ source/index.php [L]
RewriteRule ^m/?$ extras/m.php
RewriteRule ^layar-api/?$ extras/layar-api.php
RewriteRule ^bus-route-finder/?$ extras/bus-route-finder.php
RewriteRule ^resources/jquery-1.5.min.js$ /js/jquery-1.5.min.js

RewriteRule ^([A-Za-z_-]+)/?$ index.php?v=$1&%{QUERY_STRING}
RewriteRule ^([A-Za-z_-]+)/((credits)?)$ $2.php?v=$1&%{QUERY_STRING}

<IfModule mod_deflate.c>
AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css application/x-javascript application/javascript image/png
</IfModule>
