RewriteEngine on
RewriteRule ^bus-stop/(.*)\. http://data.southampton.ac.uk/bus-stop/$1.html?view=ajax [P]
RewriteRule ^credits$ credits.php
RewriteRule ^list$ list.php
RewriteRule ^opening-times$ opening-times.php
RewriteRule ^source/?$ source/index.php [L]
RewriteRule ^roomfinder/?$ roomfinder/index.php [L]
RewriteRule ^brf/?$ extras/bus-route-finder.php [L]
RewriteRule ^edit/?(.*)$ mymap/$1
RewriteRule ^mymap/?$ mymap/ [L]
RewriteRule ^m/?$ extras/m.php
RewriteRule ^layar-api/?$ extras/layar-api.php
RewriteRule ^bus-route-finder/?$ extras/bus-route-finder.php
RewriteRule ^resources/jquery-1.5.min.js$ /js/jquery-1.5.min.js
RewriteRule ^thumbnails/([A-Za-z_-]+)/([A-Za-z_-]+).png$ /modules/$1/resources/thumbnails/$2.png
RewriteRule ^thumbnails/([A-Z]+)/([A-Za-z_-]+)/$ /resources/thumbnail.php?type=$1&v=$2&%{QUERY_STRING}
RewriteRule ^resources/busicon/([A-Z0-9+]*)$ /resources/busicon.php?r=$1
RewriteRule ^resources/numbericon/([A-Z0-9-]*)$ /resources/numbericon.php?n=$1
RewriteRule ^resources/clustericon/(.*)$ /resources/clustericon.php?icons=$1

RewriteRule ^([A-Za-z_-]+)/$ /$1 [R,L]
RewriteRule ^([A-Za-z_-]+)$ index.php?v=$1&%{QUERY_STRING}
RewriteRule ^([A-Za-z_-]+)/((credits)?)$ $2.php?v=$1&%{QUERY_STRING}

<IfModule mod_deflate.c>
AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css application/x-javascript application/javascript image/png
</IfModule>
