body {
	font-family: 'Ubuntu', 'Helvetica', 'Arial', serif; 
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow:hidden;
}
.odl {
	font-size: 0.8em;
	padding-left:5px;
/*
	display:block;
	width:100%;
	text-align:left;
	margin-left:30px;
	padding-bottom:5px;
*/
}

div#bookmarks {
	text-align:right;
}
div#bookmarks ul {
	margin-top:5px;
	margin-right:5px;
	background-color:white;
	padding:1px;
}
div#bookmarks li {
	padding:2px;
	margin:2px;
}
div#subjects li,div#subjects li h2 {
	margin-left:2px;
	margin-right:2px;
	margin-bottom:2px;
}
div#subjects li h2 {
	margin-top:5px;
	padding:2px;
}
div#bookmarks li,div#subjects li h2 {
	background-color:#007C92;
	color:white;
}

._2011-07-08, ._2011-07-09 {
	display:none;
}

div#subjects li.event {
	border:solid 2px #007C92;
	padding:5px;
}

div#subjects li.event .location .icon {
	top:8px;
}

div#subjects li.event .location {
	position:relative;
	top:-5px;
	padding-left:30px;
	text-indent:-30px;
	font-style:italic;
}

div#subjects li.event .description {
	font-size:0.8em;
	text-align:justify;
}

a {
	color:#7777CC;
}
#credits a {
	/*color:black;*/
}
#credits a:visited {
	/*color:black;*/
	text-decoration:none;
}
#credits a:link:hover {
	/*color:blue;*/
}
#credits a:link {
	/*color:black;*/
	text-decoration:none;
}
#spinner {
	 background:rgba(255,255,255,0.8);
	 position:absolute;
	top: 0px; left: 0px; right: 0px; bottom:0px;
	z-index:1000;
	text-align:center;
}
#spinner img {
	margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto;
	padding-top:50px;
}
#map_canvas {
	position:absolute;
	top:0px; bottom:0px; left:0px; right:0px;
}
#selectedsubject {
	display:block;
	clear:both;
	text-align:center;
	margin-left:5px;
	margin-top:5px;
	padding-top:10px;
	padding-bottom:10px;
	vertical-align:bottom;
	height:45px;
	width:290px;
}
#day {
	margin:5px;
	width:290px;
	display:block;
	clear:both;
}
#day a {
	display:block;
	float:left;
	width:50%;
	text-align:center;
	padding-top:5px;
	padding-bottom:5px;
	text-decoration:none;
	color:black;
	cursor:pointer;
}
.clickable {
	cursor:pointer;
}
#credits {
	position:absolute;
	text-align:right;
	padding-right:3px;
	bottom: 0px;
	right:0px;
	font-size: 0.75em;
}
#credits-small {
	display:none;
	position:absolute;
	bottom: 0px;
	right:0px;
	color:#7777CC;
	font-size: 11px;
}
#search {
	margin-top:2px;
	padding:2px;
	background-color:rgba(255,255,255,0.8);
	border-radius:3px;
	border:solid 1px black;
}
#search-small {
	display:none;
}
@media handheld
{
	#credits-small {
		display:block;
	}
	#credits {
		display:none;
	}
	#search-small {
		display:block;
	}
	#search {
		display:none;
	}
	#openings {
		display: none;
	}
}
@media only screen and (max-device-width: 640px)
{
	#credits-small {
		display:block;
	}
	#credits {
		display:none;
	}
	#search-small {
		display:block;
	}
	#search {
		display:none;
	}
	#openings {
		display: none;
	}
}
form ul {
	padding:0px;
}
/* for the search box */
#inputbox {
	position:relative;
	background:rgba(255,255,255,0);
	height:20px;
	padding-left:0px;
	padding-top:5px;
	padding-bottom:0px;
	border-top: none;
	border-bottom:1px solid black;
	border-left:none;
	border-right:none;
	margin-bottom:5px;
}
#list {
	position:absolute;
	margin-left:-3px;
	margin-top:2px;
	padding:5px;
	background-color:rgba(255,255,255,0.8);
	border-radius:3px;
	border:solid 1px black;
	list-style: none;
	overflow-y:hidden;
	overflow-x:hidden;
	max-width:200px;
	max-height:497px;
}
#list li {
	line-height:1.2em;
	border-radius:3px;
	padding-left:30px;
	text-indent:-30px;
}
.location {
	line-height:1.2em;
	padding-left:0px;
	/*text-indent:-30px;*/
}
#clear {
	position:absolute;
	right:4px;
	top:4px;
	width:22px;
}

img.icon { 
	width:20px; 
	padding-right:5px; 
	position:relative; 
	top:7px;
}

li img.icon {
	position:relative; 
	top:3px;
	left:1px;
}

#geobutton {
	display:block;
}

td {
	border:solid 1px gray;
	text-align: center;
}

ul.offers li{
	font-size:80%;
	display: inline; 
	border: solid 1px white;
	padding: 0px;
	margin-right: 5px;
	line-height: 2em;
	background-color: #DDDDB7;
	cursor:pointer;
} 

ul.offers{
	padding:0;
	margin:0
}
h2 {
	font-size:100%;
	margin:0px;
	margin:0px 8px 0px 0px;
	position:relative;
	padding-bottom:7px;
}
h2 img {
	position:relative;
	top:7px;
}
h3 {
	font-size:80%;
	margin:0px;
	padding:16px 8px 8px 0px;
}
#content {
	border:none;
	padding:0px;
	margin-bottom:8px;
}
.clusteritem {
	padding:0px 8px 0px 0px;
	font-size:10pt;
	padding-right:5px;
	padding-left:32px;
	text-indent:-30px;
	cursor:pointer;
}

.toggleicons {
	text-align:right;
}

.toggleicons img {
	height:26px;
	width:26px;
	margin-right:5px;
}

.togglebutton {
	cursor:pointer;
	color:white;
	background-size:100% 100%;
	padding:5px;
	margin:5px;
	width:230px;
	height:18px;
	position:relative;
	text-align:right;
}

.togglebutton input {
	margin:2px;
}

.offset .togglebutton {
	width:16px;
}

.offset .label {
	display:none;
}

.offset #iconexpand {
	display:inline;
}

.offset #iconcollapse {
	display:none;
}

#iconexpand {
	display:none;
}

#iconcollapse {
	display:inline;
}

@media only screen and (min-device-width: 641px) {
	.toggleicons img.deselected:hover {
		opacity:0.5;
	}
/*
	#todayopenings {
		display: none;
	}
*/
}

#day .selected {
	background-color:#007C92;
	color:white;
	cursor:default;
}

.deselected {
	opacity:0.25;
}

.current {
	background-color:#99FF99;
}
