body {
	font-family: 'Ubuntu', 'Helvetica', 'Arial', serif; 
	margin:5px;
}
a {
	color:#7777CC;
}
#credits a {
	/*color:black;*/
}
#credits a:visited {
	/*color:black;*/
	text-decoration:none;
}
#credits a:link:hover {
	/*color:blue;*/
}
#credits a:link {
	/*color:black;*/
	text-decoration:none;
}
#credits {
	text-align:right;
	margin:15px;
	font-size: 0.75em;
}
